#holder,
#cassette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#holder {
  max-width: 800px;
  position: relative;
}

#cassette,
iframe {
  position: absolute;
}

#cassette {
  background: url('./cassette.svg') no-repeat center;
  cursor: pointer;
}

@keyframes flipout {
  0% {
    transform: rotate3d(0, 1, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
}

@keyframes flipin {
  0% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0);
  }
}

#cassette.flipped {
  animation: flipout 2s ease forwards;
}
/*
iframe {
  display: none;
} */

iframe.flipped {
  display: block;
  transform: rotate3d(0, 1, 0, 90deg);
  animation: flipin 2s ease 2s forwards;
}
