html,
body,
body > div,
body > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  background: url(./background.svg) #f00 no-repeat center;
  background-size: cover;
}